extends layout

block content
    h2 Hello!!
    textarea#mce
    button.btn.btn-primary#savebtn Save
    script(src="/javascripts/myeditor.js")
    script(src="//cloud.tinymce.com/stable/tinymce.min.js")
    script tinymce.init({ selector:'#mce' });
