extends layout

block content
    .container-fluid
        .row
            .col.col-md-12
                    h2 Hello!!
        .row
            .col.col-md-4
                h2 fssdfssfsdf
            .col.col-md-8
                textarea#mce
                button.btn.btn-primary#savebtn Save
script(src="/javascripts/myeditor.js")
script(src="//cloud.tinymce.com/stable/tinymce.min.js")
script tinymce.init({ selector:'#mce' });
