extends layout

block content
    .container-fluid#chat-messages
        .row
            .col.col-md-12
            h1= title
    .container-fluid#chat-controls.navbar-fixed-bottom
        .row
            .well.clearfix
                .form-group.col.col-md-1
                    label(for="name") UserName:
                    input(type="text" placeholder="Name").form-control#name
                .form-group.col.col-md-10
                    label(for="messagetext") Message:
                    input(type="text" placeholder="Message...").form-control#messagetext
                .form-group.col.col-md-1
                    label(for="") &nbsp;
                    button(type="button").btn.btn-primary.pull-right#sendMsg Message -->
    script(src="/javascripts/chat.js")