extends layout

block content
    .container-fluid
        .row
            .col.col-md-12
                    h1 Hello!!
        .row
            .col.col-md-4#wrarticlelist
                div.col.col-md-12.list-group-item.active 
                    h4 Your article list (click to edit)
                    div#articlelist
                        //each article in articles
                        //    div(data-id=article._id).list-group-item.text-info=article.title
                    div
                        button.btn.btn-success#newarticlebtn New
            .col.col-md-8
                label Article title:
                input#doctitle
                textarea#mce
                //button.btn.btn-primary#savearticlebtn Save

    script(src="//cloud.tinymce.com/stable/tinymce.min.js")
    script(src="/javascripts/myeditor.js")
    //script tinymce.init({ selector:'#mce' });
