extends layout

block content
  if isAuth
    h1 You are logged-in as #{title}
  else if title
    h2 You last username was #{title}
  else
    h2 I don't remember you. Please sign-in first.
  br
  //- h3 LocalStorage test
  //- label(for=inp1) data1
  //- input()#inp1
  //- label(for=inp2) data2
  //- input()#inp2
  //- button()#send send
  h2 Register new User
  form(action = "/register" method="post")
    input(type ='text' name='username')
    input(type ='text' name='password')
    input(type="submit" value="register" )

  //  textarea#mce
  //button.btn-default#savebtn Save 

  script(src="/javascripts/myindex.js")
  //script(src="//cloud.tinymce.com/stable/tinymce.min.js")
  //script tinymce.init({ selector:'#mce' });
