doctype html
html
  head
    title= title
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/socket.io/socket.io.js")
  body

    include navbar.pug

    block content

    script(src="/javascripts/mycommon.js")
    script(src="https://code.jquery.com/jquery-3.1.1.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')