extends layout

block content
  
  div.col-md-8(data-role="map")
    div.panel.panel-primary
      div.panel-heading
        span(data-role="map-title") Google MAP
      div.panel-body.clearfix
        div#map
      div.panel-footer.clearfix
        button(type="button" ).btn.btn-info#findbyhtml find me (HTML5 API)
        button(type="button" ).btn.btn-info#findbygoogle  find me (Google API)
        button(type="button" data-usehint="1").btn.btn-info#findbygooglewithhint  find me (Google API using wifi)
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCReLyFfsVhnfFolY-zGapGOw9azPZRMG0&callback=initMap" async defer)
  script(src="/javascripts/mymaps.js")