.nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Express
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav
        each val in menu
          li(class= val.id == hlMenuId ? "active" : "")
            a(href=val.link)= val.text
      if isAuth
        include auth.pug
      else   
        include notauth.pug