form.form-inline.navbar-right(action="")
    .form-group
        input(type ='text' placeholder="username")#username
        input(type ='text' placeholder="password")#password
        button(type="button").btn.btn-primary.navbar-btn#signinbtn  Sign in