extends layout

block content
  
  .container-fluid
    .row
        .well.col-md-12.col
            h1= title
    .row
        .well.col.col-md-3
            div
                img(src="http://loremflickr.com/300/400/face/").img-responsive.img-thumbnail.center-block
            .caption 
                h3 photo
                p  Lorem ipsum dolor sit amet.

        .col.col-md-9
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quibusdam ipsum eius suscipit nisi, quis fugit consectetur itaque vel expedita!
    .row
        .col.col-md-12
            h3 Part 1
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium omnis optio animi. Consectetur dicta totam, maiores! Veniam reprehenderit qui perspiciatis rerum aspernatur quis quidem atque eveniet minima vitae cumque aliquid delectus, saepe eius dolor explicabo! Quas vel, dignissimos. Libero, ut quidem ex recusandae. Et accusantium nesciunt delectus, neque accusamus sed.

            h3 Part 2
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium omnis optio animi. Consectetur dicta totam, maiores! Veniam reprehenderit qui perspiciatis rerum aspernatur quis quidem atque eveniet minima vitae cumque aliquid delectus, saepe eius dolor explicabo! Quas vel, dignissimos. Libero, ut quidem ex recusandae. Et accusantium nesciunt delectus, neque accusamus sed.        
            h3 Part 3
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium omnis optio animi. Consectetur dicta totam, maiores! Veniam reprehenderit qui perspiciatis rerum aspernatur quis quidem atque eveniet minima vitae cumque aliquid delectus, saepe eius dolor explicabo! Quas vel, dignissimos. Libero, ut quidem ex recusandae. Et accusantium nesciunt delectus, neque accusamus sed.

            h3 Part 4
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium omnis optio animi. Consectetur dicta totam, maiores! Veniam reprehenderit qui perspiciatis rerum aspernatur quis quidem atque eveniet minima vitae cumque aliquid delectus, saepe eius dolor explicabo! Quas vel, dignissimos. Libero, ut quidem ex recusandae. Et accusantium nesciunt delectus, neque accusamus sed.                        