body
  {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
a {
  color: #00B7FF;
}
.well.msgin{
  background-color: lightblue;
}
.well.msgout{
 // transition-duration: 0.5s;
  background-color: lightgreen;
}

#chat-messages {
//  transition-duration: 0.5s;
  margin-bottom: 70px;
}
#chat-controls .well:last-of-type{
  margin-bottom: 0px;
}

#map {
  height: 400px;
}

//Hide TinyMCE bannner
#mceu_22 { 
  display: none; 
}