body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.well.msgin {
  background-color: lightblue; }

.well.msgout {
  background-color: lightgreen; }

#chat-messages {
  margin-bottom: 70px; }

#chat-controls .well:last-of-type {
  margin-bottom: 0px; }

#map {
  height: 400px; }

#mceu_22 {
  display: none; }

/*# sourceMappingURL=style.css.map */